.menuPlayer {
    background: linear-gradient(to bottom, black, rgb(31, 34, 34)) !important;
    border-top: 3px solid gray;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 80px;
    z-index: 999;

    &:hover {
        .controlerTime {
            display: flex;
        }
    }

    .controlerTime {

        display: flex;
        justify-content: end;


        .content {
            margin-top: -35px;
            display: grid;
            place-items: center;
        }
    }

    .containerPlayer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;

        .info {
            font-size: 16px;
            position: absolute;
            top: 20px;
            left: 0;
            max-width: 500px;
            width: 100%;
        }

        .actionsPlayer {
            display: flex;
            align-items: center;
            gap: 20px;

            .action {
                background-color: rgba(255, 255, 255, 0.26);
                border: none;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.46);
                }

            }

            .next {
                transform: rotate(180deg);
            }
        }

    }

    .p-slider.p-slider-horizontal {
        height: 2px !important;
        margin-top: -2px !important;
    }

    .p-slider .p-slider-range {
        background: white !important;
    }

    .p-slider .p-slider-handle {
        height: 1.143rem;
        width: 1.143rem;
        background: #ffffff;
        border: 2px solid white;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    }

    .p-slider {
        background: gray !important;
    }
}