.headerMain {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid gray;
    


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logoPodcast {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 60px;
        height: 60px;

        h2 {

            font-size: 22px;
            font-family: 'Lora', serif !important;

            .B {
                background: rgb(86, 80, 252);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .gradient1 {
                background: linear-gradient(to right, rgb(86, 80, 252), #76cbf2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .gradient2 {
                background: linear-gradient(to right, #76cbf2, #5650fc);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .P {
                background: #76cbf2;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        

    }

    .right {
        display: flex;
        gap: 20px;
        align-items: center;

        input {
            min-width: 350px;
            width: 100%;
            height: 40px;
            border-radius: 50px;
            background: linear-gradient(to right, #c8c8c8, #a7a7a7);
            border: none !important;
            padding: 0 20px;
            font-size: 14px;


        }

        .cUser {
            display: grid;
            place-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.menUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 80px;
    background-color: #dadada;
    border-radius: 5px;

    .setting {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        font-size: 14px;
        cursor: pointer;
        font-weight: 700;
        color: #272727;
    }

    .top {
        &:hover {
            background-color: #5b5b5b24;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .bottom {
        &:hover {
            background-color: #5b5b5b24;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.p-overlaypanel {
    border-radius: 13px !important;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);

    .p-overlaypanel-content {
        padding: 0rem !important;
    }

    &:before,
    &:after {
        display: none !important;
    }
}