.clips {
    width: 100%;
    display: grid;
    grid-template-columns: 8% 80% 12%;
    height: 160px;
    background: rgba(255, 255, 255, 0.279);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;


    .coverClips {
        display: flex;
        align-items: center;
        width: 100%;

        img {
            border-radius: 5px;
            width: 80px;
            height: 80px;
        }
    }

    .infoClips {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        strong {
            font-size: 14px;
            color: #76cbf2;
        }
    }

    .actions {
        display: flex;
        gap: 20px;
        align-items: center;

        .playActions {
            cursor: pointer;
            background-color: #ffffff3c;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-left: 20px;

            &:hover {
                transform: scale(1.05);
                transition: transform 0.3s linear;
            }
        }
    }
}